/* ===================== HEADER SECTION ==========================*/
:root{
--main-color:#01b3a7;
--white:#f0f4f6;
--black:#151515;
--background :#162e44;
--f-background:#11263a;
--p-color:#9b9b9b;
--green:#27ae60;
--red:#e74c3c;
--yellow:#f1c40f;
--blue:#2980b9;
--orange:#e67e22;
--purple:#8e44ad;
--light-color:#7f8c8d;
--dark-color:#2c3e50;
--shadow:rgba(0,0,0,0.2);
--transition: all .4s linear;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    text-transform: capitalize;
    text-decoration: none !important;
    font-weight: 400;
    font-family: 'Rajdhani', sans-serif;

}

.header-section {
    padding: 8px 0;
    position: relative;
    z-index: 1000;
    background-color: var(--header-bg-color);
}
/* HEADER LOGO SECTION  */
img.header-logo-image {
    width: 60%;
}


/* HEADER MENU SECTION  */
ul.nav-menu {
    display: flex;
    justify-content: start;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 3px;
}


ul.nav-menu li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 3px 14px;
  color: var(--header-text-color);
  transition: var(--transition);
  position: relative;
  border-bottom: 2px solid transparent;
  font-family: 'Rajdhani', sans-serif;
}

ul.nav-menu li a:hover {
  background-color: var(--header-text-bg-hover);
  color: var(--header-text-hover);
  border-radius: 4px;
  border-bottom: 2px solid var(--white);
  transition: var(--transition);
}

/* DropDown Menu Code here */
ul.nav-menu li{
    position: relative;
    transition: .5s;
}

ul.nav-menu li ul.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ff014f;
    min-width: 222px;
    border-radius: 4px;
    z-index: 1000;
}

.header-menu ul.sub-menu li {
  display: block;
  padding: 10px 15px;
  color: #fff;
  border-bottom: 1px solid white;
}

.header-menu ul.sub-menu li:hover {
  background: #000000;
  transition: var(--transition);
}
.header-menu ul.sub-menu li a{
    border-bottom: none;
}
.header-menu ul.sub-menu li a:hover{
 background-color: transparent;
 border-bottom: none;
 transition: var(--transition);
}

/* Show dropdown on hover */
.header-menu ul li:hover > ul.sub-menu {
  display: block;
   transition: var(--transition);
}




.col-xl-8.header-colum-two {
    align-items: center;
    display: flex;
}


/* Menu Position Controls */
.header-section.left .header_colum_one {
 order:1
}
.header-section.left .header_colum_two {
 order:0
}
.header-section.left .header_colum_three {
 order:2
}
.header-section.right .header_colum_one {
 order:0
}
.header-section.right .header_colum_two {
 order:2
}
.header-section.right .header_colum_three {
 order:1
}




/* header-extra SECTION  */
.header-extra .header-btn  {
    padding: 10px 22px;
    color: var(--header-btn-text);
    border: 1px solid var(--header-btn-border);
    width: 100%;
    background-color: var(--header-btn-bg);
    transition: var(--transition);
}

.header-extra .header-btn:hover {
    background-color: var(--header-btn-bg-hover);
    border-color: var(--header-btn-border-hover);
    color: var( --header-btn-text-hover);
    transition: var(--transition);
}




/* FOOTER SECTION  */

.footer-buttom{
    background:var(--footer-bg) !important ;
}
.footer-buttom p {
    color: var(--footer-text);
}


