/* HOME PAGE DESIGN PAGE */

/* BANNER SLIDER SECTIOn */
.slider-item {
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
#slider-item-one{
background: rgb(0, 0, 0);
border-top: 1px solid white;
}

.slider-content{
    color: white;
}
.slider-content h1 {
    font-size: 48px;
}
.slider-content h2 {
    font-size: 36px;
}
.social-media {
    display: flex;
    gap: 8px;
    padding: 25px 0;
}

.social-media span{
    width: 49px;
    height: 49px;
    background-color: #FF014F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 10px 0px;
}
.social-media span img{
    width: 55px;
}

.social-media span svg {
    width: 22px;
    height: 22px;
    fill: white;
}

.social-media span:hover{
    cursor: pointer;
}

#slider-item-two{
background-color: #F2F0EF;
background-size: cover; 
width: 100%;
}


.slider-content-two h1, .slider-content-two h2, .slider-content-two h3{
    color: #000000;
    font-weight: 900;
}


.slider-two-right {
    display: flex;
    justify-content: end;
    align-items: center;
}
.slider-two-image  {
    text-align: -webkit-right;
    position: relative;
}
.slider-two-image img {
    display: block;
    width: 75% !important;

    position: relative;
}

.slider-two-image .inner-image {
    position: absolute;
    top: 50%;
    right: -49px;
    width: 49%;
    transform: translateY(-50%);
}
.slider-two-image .inner-image-two {
    position: absolute;
    top: 50%;
    left: -43px;
    width: 57%;
    transform: translateY(9%);
}



/* ===========About Section Css Start Here=========== */

.about-section {
    padding: 100px 0;
}
.about-title {

    margin-bottom: 40px;
}
.about-title span {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    position: relative;
    display: inline-block;
}

.about-title span::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* underline er distance */
    height: 5px;
    width: 50%;
    background-color: #FF014F;
    display: block;
}
.about-content {
    margin-left: 50px;
}


.about-content h1 {
    font-size: 48px;
    font-weight: 700;
}
.about-content p {
    font-weight: 600;
font-size:18px
}

.about-service-part {
    display: flex;
    gap: 10px;
    margin: 20px 0 0 0;
    text-align: center;
}
.about-service-part .about-btn{
    width: 50%;
}



/* ===========About Section Css End Here=========== */

/* ===========Grow Section Css Start Here=========== */

.grow-section{
    background-color: #1A1F2B;
    padding: 130px 0;
}

.grow-section .grow-content {
    color: white;
    
}

.grow-section .grow-content  h1 {
    font-size: 48px;
    font-weight: 700;
    padding-top: 30px;
}
.grow-section .grow-content  p {
    font-weight: 600;

}

.grow-service-part {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0 0;
    text-align: center;
}

.g-service h3 {
    color: #FF014F;
    font-size: 36px;
    font-weight: 900;
}
.g-service span {
    font-weight: 900;
}
.grow-section .grow-video {
    text-align: center;
}
.grow-section .grow-video video {
    height: 100%;
    width: 100%;
    padding-left: 55px;
    padding-bottom: 27px;
}

/* ===========Grow Section Css End Here=========== */


/* =============================work-process-section CSS Start here ============================= */
.work-process-section {
    padding: 100px 0;
}
.work-title{
    padding: 20px;
}
.work-title span {
    color: #FF014F;
    font-weight: 700;
}
.work-title h1 {
    margin: 0 289px;
    color: black;
    font-weight: 700;
    font-family: sans-serif;
}
.work-process {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    padding: 30px 20px;
    position: relative;
    z-index: 1;
    text-align: left;
    height: 100%;
    margin-top: 40px;
}
.work-process:before {
    background-color: #FF014F;
    border-radius: 0 0 0 270px;
    content: "";
    height: 55px;
    position: absolute;
    right: 0;
    top: 0;
    transition: .7s;
    width: 70px;
    z-index: -1;
}
.work-process img {
    width: 95px;
}
.work-process h4 {
    font-size: 32px;
    font-family: 'Rajdhani';
    font-weight: 600;
    margin: 11px 0;
}
.work-process .number {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    right: 15px;
    top: 5px;
}

/* =============================work-process-section CSS End here ============================= */

/* ============================build-section CSS Start  here ============================= */

.build-section {
    padding: 100px 0;
    position: relative;
    background-color: #fff;
    /* overflow: hidden; prevents pseudo elements from overflowing */
}

.build-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #FF014F;
}
.build-section  .container{
    z-index: 2;
}
.build-section .build-content {
    color: white;
    margin-bottom: 35px;
}
.build-section .build-content p {
    font-weight: 600;
}
.build-section .build-content h3 {
    font-size: 41px;
    font-weight: bold;
}
.build-section .build-image {
    position: relative;
}

.build-section .build-image .build-img-inner-content {
    color: white;
    background: #FF014F;
    padding: 118px 80px 62px 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 280px 0 0;
}
.build-section .build-image .build-img-inner-content p {
    font-weight: bold;
}
.build-section .build-image .build-img-inner-content h3 {
    font-weight: bold;
    max-width: 300px;
}
.build-section .build-image .build-img-inner-content .build-btn {
    border: 1px solid white;
    font-weight: 700;
    background: white;
    color: #FF014F;
}

/*===========================build-section CSS End here ============================= */

/*===========================Service-section CSS Start here ============================= */
section#service_area {
    background: black;
    padding: 100px 0;
}
.service-image{
    padding: 10px 0;
}
.service-image img {
    width: 100%;
}


.service-section div#page_nav-short ul {
    background: black !important;
}
/*===========================Service-section CSS End here ============================= */