body.login {
  background: url(../img/login.jpg);
  display: flex;
  align-items: center;
}
body.login #login {
  background: #FF014F;
  padding: 40px;
  border-radius: 25px;
}
body.login #loginform {
  background: none;
  border: 0;
  box-shadow: none;
  padding: 0;
}
#login form p.submit {
  display: block;
}
#login form p.submit input {
    display: block;
    width: 100%;
    margin-top: 10px;
    background: #ffffff;
    border: 0;
    padding: 10px;
    font-size: 15px;
    transition: 0.5s;
    color: #FF014F;
     border:1px solid white;
}
#login form p.submit input:hover {
  background: #FF014F;
  color: #fff;
  border:1px solid white;
}
.login label {
    font-size: 16px;
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 3px;
    color: white;
}

.login #nav {
  margin: 0;
  margin-top: 10px;
  width: 40%;
  float: left;
  padding: 0;
}
.login #nav a {
    margin-top: 5px;
    display: inline-block;
    color: white;
}
.login #backtoblog {
  margin: 0;
  margin-top: 10px;
  width: 60%;
  float: right;
  text-align: right;
  padding: 0;
}
.login #backtoblog a {
    display: inline-block;
    background: #ffffff;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 0.5s;
    color: #FF014F;
    border:1px solid white;
}
.login #backtoblog a:hover {
  background: #FF014F;
  color: #fff;
  border:1px solid white;
}
.login #login_error,
.login .message,
.login .success {
  border-left: 4px solid #000000;
}
input#user_login, input#user_pass {
    border: 0;
    border-left: 4px solid #000000;
    padding: 10px;
    font-size: 14px;
    border-radius: 0;
}

.login form {
    margin: 24px 0;
    padding: 26px 24px;
    font-weight: 400;
    overflow: hidden;
    background: none;
    border: 1px solid #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,.04);
}