body.login {
  background: url(../img/login.jpg);
  display: flex;
  align-items: center;
}
body.login #login {
  background: var(--login-bg) !important;
  padding: 40px;
  border-radius: 25px;
}
body.login #loginform {
  background: none;
  border: 0;
  box-shadow: none;
  padding: 0;
}
#login form p.submit {
  display: block;
}
#login form p.submit input {
    display: block;
    width: 100%;
    margin-top: 10px;
     background: var(--login-btn-bg);
        border: 1px solid var(--login-border);
    padding: 10px;
    font-size: 15px;
    transition: 0.5s;
    color: #FF014F;
     border:1px solid white;
}
 #login form p.submit input:hover {
    background: var(--login-btn-bg-hover);
    color: var(--login-btn-text-hover);
    border:1px solid white;
    }

.login label {
    font-size: 16px;
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 3px;
    color: var(--login-label);
}

.login #nav {
  margin: 0;
  margin-top: 10px;
  width: 40%;
  float: left;
  padding: 0;
}
.login #nav a {
    margin-top: 5px;
    display: inline-block;
    color: white;
}
.login #backtoblog {
  margin: 0;
  margin-top: 10px;
  width: 60%;
  float: right;
  text-align: right;
  padding: 0;
}
.login #backtoblog a {
    display: inline-block;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 0.5s;
     background: var(--login-backtoblog-bg);
    color: var(--login-backtoblog-text);
    border: 1px solid var(--login-border);
}
.login #backtoblog a:hover {
   background: var(--login-backtoblog-bg-hover);
    color: var(--login-backtoblog-text-hover);
  border:1px solid var(backtoblog);
}
.login #login_error,
.login .message,
.login .success {
  border-left: 4px solid var(--login-error-border);
}
input#user_login, input#user_pass {
    border: 0;
    border-left: 4px solid var(--login-error-border);
    padding: 10px;
    font-size: 14px;
    border-radius: 0;
}

