/* ===================== HEADER SECTION ==========================*/
:root{
--main-color:#01b3a7;
--white:#f0f4f6;
--black:#151515;
--background :#162e44;
--f-background:#11263a;
--p-color:#9b9b9b;
--green:#27ae60;
--red:#e74c3c;
--yellow:#f1c40f;
--blue:#2980b9;
--orange:#e67e22;
--purple:#8e44ad;
--light-color:#7f8c8d;
--dark-color:#2c3e50;
--shadow:rgba(0,0,0,0.2);
--transition: all .4s linear;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    text-transform: capitalize;
    text-decoration: none !important;
    font-weight: 400;
    font-family: 'Rajdhani', sans-serif;

}

.header-section {
    padding: 8px 0;
    position: relative;
    z-index: 1000;
    background-color: var(--header-bg-color);
    border-bottom: 1px solid white !important;
    position: fixed;
    top: 0px;
    width: 100%;
}
section.banner-section {
    padding-top: 60px;
}
/* HEADER LOGO SECTION  */
img.header-logo-image {
    width: 60%;
}


/* HEADER MENU SECTION  */
ul.nav-menu {
    display: flex;
    justify-content: start;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 3px;
}


ul.nav-menu li a {
  display: inline-block;
  font-size: 16px;
  padding: 3px 14px;
  color: var(--header-text-color);
  transition: var(--transition);
  position: relative;
  border-bottom: 2px solid transparent;
  font-family: 'Rajdhani', sans-serif;
}

ul.nav-menu li a:hover {
  background-color: var(--header-text-bg-hover);
  color: var(--header-text-hover);
  border-radius: 4px;
  border-bottom: 2px solid var(--white);
  transition: var(--transition);
}

/* DropDown Menu Code here */
ul.nav-menu li{
    position: relative;
    transition: .5s;
}

ul.nav-menu li ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ff014f;
    min-width: 222px;
    border-radius: 4px;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    transform: translateY(30px);
}
.header-menu ul.sub-menu li {
  display: block;
  padding: 10px 15px;
  color: #fff;
  border-bottom: 1px solid white;
}

.header-menu ul.sub-menu li:hover {
  background: #000000;
  transition: var(--transition);
}
.header-menu ul.sub-menu li a{
    border-bottom: none;
}
.header-menu ul.sub-menu li a:hover{
 background-color: transparent;
 border-bottom: none;
 transition: var(--transition);
}

/* Show dropdown on hover */
.header-menu ul li:hover > ul.sub-menu {
  visibility:visible;
opacity:1;
transition: .5s;
transform: translateY(0);
}




.col-xl-8.header-column-two { 
    align-items: center;
    display: flex;
}


/* Menu Position Controls */
.header-section.left .header_column_one {
 order:1
}
.header-section.left .header_column_two {
 order:0
}
.header-section.left .header_column_three {
 order:2
}
.header-section.right .header_column_one {
 order:0
}
.header-section.right .header_column_two {
 order:2
}
.header-section.right .header_column_three {
 order:1
}




/* header-extra SECTION  */
.header-extra .download-cv-button  {
    padding: 10px 22px;
    color: var(--header-btn-text);
    border: 1px solid var(--header-btn-border);
    width: 100%;
    background-color: var(--header-btn-bg);
    transition: var(--transition);
}

.header-extra .download-cv-button:hover {
    background-color: var(--header-btn-bg-hover);
    border-color: var(--header-btn-border-hover);
    color: var( --header-btn-text-hover);
    transition: var(--transition);
}




/* FOOTER SECTION  */
footer {
    border-top: 1px solid #ffffff !important;
}
.footer-bottom{
    background:var(--footer-bg) !important ;
   
}
.footer-bottom p {
    color: var(--footer-text);
}

/* Menu Icon */

/* Responsive Css */
@media (min-width: 768px) {
    .header-menu {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    ul.nav-menu li a {
    padding: 3px 8px;
}
.header-section {
    padding: 8px 20px !important;
}
}

@media (max-width: 767.98px) { 
    .slider-item {
    padding: 0 12px;
}
    section.banner-section {
    padding-top: 0;
}
    .header-section {
    padding: 3px 12px;
}
    .header-logo img {
    width: 54%;
}
    .header-section {
        position: relative;
    }
    .header-menu {
    position: absolute;
    width: 40%;
    top: 100%;
    right: 0;
    background: #ff014f;
    transform: scale(.5);
    visibility:hidden;
    opacity:0;
  transition: .5s !important;

}

    .header-menu.show {
        visibility:visible;
    opacity:999;
    transition: .5s !important;
        transform: scale(1);
    }

    ul#menu-main-menu {
        flex-direction: column;
        padding: 20px 0;
        gap:0px;
    }
    ul.nav-menu li {
        text-align: center;
        background: #000000;
        width: 100%;
        border-top: 1px solid white;
    }
    ul.nav-menu li:last-child{
        border-bottom: 1px solid white;
    }
    ul.nav-menu li:hover{
        background:white;
        border-top: 1px solid white;
    }
    ul.nav-menu li:hover a {
        color: #ff014f;
    }
    ul.nav-menu li a {
        padding: 5px 0px;
        color: #ffffff;
        transition: var(--transition);
        position: relative;
        border-bottom: none;
    }
    ul.nav-menu li a:hover{
        background: #ffffff;
        color:#ff014f;
    }
    .header-menu ul li:hover > ul.sub-menu {
        transition: var(--transition);
        width: 100%;
        left: -110%;
    }
    .header-menu ul.sub-menu li {
        padding: 0px 0;
        border-bottom: none;
        background-color: #ff014f;
    }
    .header-menu ul.sub-menu li:last-child{
        border-bottom: 1px solid white;
    }
    .header-menu ul.sub-menu li a {
        color: #fff;
    }
    .header-menu-icon img {
        width: 40px;
        cursor: pointer;
    }

ul.nav-menu li ul.sub-menu {
    transform: translateX(30px);
}
.header-menu ul li:hover > ul.sub-menu {
transform: translateX(0);
}
}
/* Responsive  */
@media (max-width: 575.98px) {
    .header-section {
    padding: 8px 12px;
}
.header-logo img {
    width: 79%;
}
.slider-item {
    padding: 0 12px;
}
    }
